{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% macro recursive(test, key) %}
        {% import _self as self %}
            {% if test is iterable and test|length %}
                {% for key, child in test %}
                    {{ self.recursive(child, key) }}
                {% endfor %}
            {% else %}
                {{ test }}
            {% endif %}
    {% endmacro %}

    {% from _self import recursive %}

    <div>
        <h3>Test with parentheses result:</h3>
        <p>{{ string_with_parentheses }}</p>
        <p>{{ parentheses_test_result }}</p>
    </div>

    <div>
        <h3>Test with multiply array by value result:</h3>
        <p>Original array:</p>
        {% for key, test in original_array %}
            {{ recursive(test, key) }}
        {% endfor %}

        <p>Result (multiply by {{ value }}):</p>
        {% for key, test in multiply_array_values_test_result %}
            {{ recursive(test, key) }}
        {% endfor %}
    </div>

    <div>
        <h3>Test with numbers for correct sum result:</h3>
        <p>Array values:</p>
        {% for value in array3 %}
            {{ value }}
        {% endfor %}

        <p>Search values from array where sum = {{ int }}:</p>
        {% for key, value in numbers_for_correct_sum_test_result %}
            {{ recursive(value, key) }}
        {% endfor %}
    </div>
{% endblock %}
